
*{
    padding: 0; 
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.imagen{
    float: left;
    display: flex;
    width: 25%;
    height: 100vh;
    background: url(/img/casa\ flores.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.derecha{
    float: right;
    display: flex;
    width: 75%;
    height: 100vh;
    text-align: center;
}

h1{
    padding-left: 42vh;
    padding-top: 5vh;
}

form{
    padding-top: 5vh;
    padding-left: 40vh;

    /* texto label */

    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.form_cell{
    height: 50px;
    width: 500px;
    background: #EFF0F2;
    border: none;
    padding-left: 30px;

    /* texto place holder */
    text-align: left;
    font-size: 15px;
}

#entrar{
    background-color: #007074;
    color: white;
    height: 45px;
    width: 120px;
    border-radius: 6px;
    border:none;
}

#entrar:hover{
    background-color: #007074;
    transform: translateY(-2px);
    transition: 0.45;
}

p{
    font-size: 15px;
    
}

#admin{
    margin-top: 10%;
    margin-left: 40%;
    width: 300px;
    height: 70px;
    border-radius: 0px;
    width: 400px;
    height: 62px;
    line-height: 24px;
    text-align: center;
    font-size: 15px;
    padding-top: 2px;
    background-color: white;
    text-decoration: none;
}

a{
    color: #007074;
}

#admin a{
    color: black;
}

#admin:hover{
    box-shadow: 0px 15px 15px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
    transition: 0.45;
}

ul{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

li{
    padding: 5px;
}
